body {
  /* Background */
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#main {
}

/*  */
h1 {
}

h2 {
}
